# Assignment 2

1. Write a Python program to convert kilometers to miles?

In [13]:
kilometer = int(input("Enter the value of kilometer :"))
miles = kilometer * .621
print(f"Miles in {kilometer} Km are  : {miles}")

Enter the value of kilometer : 12

Miles in 12 Km are  : 7.452

In [14]:
def km_to_milies(kilometer):
    miles = kilometer * .621
    print(f"Miles in {kilometer} Km are  : {miles}")

kilometer = int(input("Enter the value of kilometer :"))
km_to_milies(kilometer)

Enter the value of kilometer : 12

Miles in 12 Km are  : 7.452

2. Write a Python program to convert Celsius to Fahrenheit?

In [15]:
celsius = float(input("Enter the value of celsius :"))
fahrenheit = (celsius * 9/5) + 32
print(f"Fahrenheit is in {celsius} celsius are : {fahrenheit}")

Enter the value of celsius : 12

Fahrenheit is in 12.0 celsius are : 53.6

In [21]:
def cel_to_feh(celsius):
    fahrenheit = (celsius * 9/5) + 32
    print(f"Fahrenheit is in {celsius} celsius are : {fahrenheit}")
    return fahrenheit

celsius = float(input("Enter the value of celsius :"))
cel_to_feh(celsius)

Enter the value of celsius : 12

Fahrenheit is in 12.0 celsius are : 53.6

53.6

3. Write a Python program to display calendar?

In [3]:
import calendar
print(calendar.calendar(2024))

                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [4]:
import calendar
print(calendar.calendar(2024,m=2))

                     2024

      January                   February
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25
29 30 31                  26 27 28 29

       March                     April
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28
25 26 27 28 29 30 31      29 30

        May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28 29 30

        July                     August
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25
29 30 31                  26 27 28 29 30 31

     September                  October
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6
 2  3  4  5  6  7  8       7  8  9 10 11 12 13
 9 10 11 12 13 14 15      14 15 16 17 18 19 20
16 17 18 19 20 21 22      21 22 23 24 25 26 27
23 24 25 26 27 28 29      28 29 30 31
30

      November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1
 4  5  6  7  8  9 10       2  3  4  5  6  7  8
11 12 13 14 15 16 17       9 10 11 12 13 14 15
18 19 20 21 22 23 24      16 17 18 19 20 21 22
25 26 27 28 29 30         23 24 25 26 27 28 29
                          30 31

In [5]:
print(calendar.monthrange(2024,2))

(3, 29)

In [6]:
print(calendar.month(2024,2))

   February 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29

4. Write a Python program to solve quadratic equation?

In [2]:
import cmath

a = int(input("Enter the value of a :"))
b = int(input("Enter the value of b :"))
c = int(input("Enter the value of c :"))
dis = (b**2) - (4*a*c)
root1 = (-b + cmath.sqrt(dis)) / (2*a)
root2 = (-b - cmath.sqrt(dis)) / (2*a)  

print("The first root is ",root1)
print("The second root is ",root2)

Enter the value of a : 2
Enter the value of b : 5
Enter the value of c : -3

The first root is  (0.5+0j)
The second root is  (-3+0j)

In [3]:
import math

a = int(input("Enter the value of a :"))
b = int(input("Enter the value of b :"))
c = int(input("Enter the value of c :"))
dis = (b**2) - (4*a*c)
root1 = (-b + math.sqrt(dis)) / (2*a)
root2 = (-b - math.sqrt(dis)) / (2*a)  

print("The first root is ",root1)
print("The second root is ",root2)

Enter the value of a : 2
Enter the value of b : 5
Enter the value of c : -3

The first root is  0.5
The second root is  -3.0

5. Write a Python program to swap two variables without temp variable?

In [8]:
var1 = int(input("Enter the first value :"))
var2 = int(input("Enter the second value :"))
swap = var1 , var2
var1,var2 = var2,var1

print("The values of variable without swap is",swap)
print("The values of variable after swap is",var1,var2)

Enter the first value : 10
Enter the second value : 65

The values of variable without swap is (10, 65)
The values of variable after swap is 65 10